.navbar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-bottom: 0px !important;
    min-height: 55px !important;
    background-color: #81c2ff !important;
    border-color: #81c2ff !important;
}

.logo {
  font-size: 20px;
  color: #000000 !important;
}

.name {
    color: #fff !important;
    margin-left: 11px;
}

@media screen and (max-width: 1200px) {
    .navbar {
        margin-bottom: 0 !important;
    }
}

.navbar {
    max-height: 60px !important;
}

.header {
    float: none;
    text-align: center;
}
.brand {
    float: none;
    padding: 17px 25px !important;
}

.link:hover {
  text-decoration: none !important;
}
