.button {
    color: #49a3f9;
    background-color: #fff;
    border-color: #49a3f9;
    border-radius: 10px;
    padding: 8px 40px;
    font-weight: bold;
    font-size: 16px;

}

.button:active, .button:focus {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #49a3f9;
}

.msg_center {
    text-align: center;
}

.msg_block {
    margin: 12px 0px;
}